body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    box-shadow: 5px 10px #888888 v;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.navbar-menu {
    font-size: 14pt;
    position: absolute;
    right: 10%;
    top: 5px;
    right: 5px;
}

.brand {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.menu {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 12pt;
    padding-bottom: 5px;
}

.menu:hover {
    border-bottom: 3px solid white;
}

#menu-join {
    border: 2px solid white;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
}

#menu-join:hover {
    background: white;
    color: black;
}

.jumbotron {
    background-image: url(jumbotron-bg.jpg);
    background-size: cover;
    margin-top: -90px;
    height: 600px;
    color: white;
    padding-top: 100px;
    align-content: center;
    text-align: center;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron h1 {
    margin-top: 100px;
    font-weight: 110;
    font-size: 60px;
}

.jumbotron h1 span {
    font-weight: bold;
}

.button-display {
    text-decoration: none;
    color: white;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px 20px;
    border-radius: 25px;    
}

.button-display:hover {
    padding: 17px 22px;
    border-radius: 40px;
    font-size: 18px;
}

.info-panel {
    position: absolute;
    width: 70%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    margin: -300px  15%;
    border-radius: 12px;
    background-color: white;
}

.row-dalam {
    display: flex;
    padding: 20px;
}

.col {
    margin-right: 80px;
    margin-left: 30px;
}

.img-display {
    float: left;
    position: absolute;
    width: 90px;
    margin-top: 35px;
}

.ket-display {
    margin-left: 100px;
    margin-top: -20px;
    text-align: center;
}

#p-display {
    color: #ACACAC;
}

.footer {
    text-align: center;
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-weight: bold;
}
