body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    box-shadow: 5px 10px #888888 v;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.navbar-menu {
    font-size: 14pt;
    position: absolute;
    right: 10%;
    top: 5px;
    right: 5px;
}

.brand {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.menu {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 12pt;
    padding-bottom: 5px;
}

.menu:hover {
    border-bottom: 3px solid white;
}

#menu-join {
    border: 2px solid white;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
}

#menu-join:hover {
    background: white;
    color: black;
}

.jumbotron {
    background-image: url(jumbotron-bg.jpg);
    background-size: cover;
    margin-top: -90px;
    height: 50px;
    color: white;
    padding-top: 100px;
    align-content: center;
    text-align: center;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.keahlian {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

.cards {
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    border: 2px solid #155799;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.card-body {
    display: block;
}

.img-skil {
    width: 450px;
    height: 300px;
}

.h3-skil {
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 50px;
    margin-top: 35%;
}

.footer {
    text-align: center;
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-weight: bold;
}

.btn-download {
    margin-left: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background: crimson;
    color: white;
}